<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/extractForm.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>All documents</title>
  </head>
  <body>
    <%- include("navbar") %> <%= error %>
    <div class="extract-form">
      <form id="fileForm" method="get">
        <select name="fileName" id="fileSelect">
          <option value="" selected>Choose a document</option>
          <% for(file of allFiles) {%>
          <option value="<%=file%>"><%=file%></option>
          <% } %>
        </select>
        <button>Extract</button>
        <div>
          <progress value="0" max="100" id="extractDataProgress"></progress>
          <span id="extractPercent">0%</span>
        </div>
      </form>
    </div>
    <script src="/utils/extractFormSubmit.js"></script>
    <%-include("footer")%>
  </body>
</html>
